In [1]:
import pandas as pd
import numpy as np

In [2]:
charts = pd.read_csv('charts_clean.csv')

In [4]:
charts.shape

(24501828, 29)

In [6]:
charts.head()

,Unnamed: 0,title,rank,date,artist_x,url,region,chart,streams,genre,...,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,0,Despacito (Featuring Daddy Yankee),1,2017-04-01,Luis Fonsi,https://open.spotify.com/track/4aWmUDTfIPGksMN...,Argentina,top200,306716.0,"['puerto rican pop', 'latin', 'latin pop']",...,0.786,0.0,2.0,0.1120,-4.757,1.0,0.1700,177.833,4.0,0.846
1,1,El Amante,2,2017-04-01,Nicky Jam,https://open.spotify.com/track/3umS4y3uQDkqekN...,Argentina,top200,189310.0,"['latin', 'reggaeton', 'latin hip hop', 'trap ...",...,0.691,0.0,8.0,0.1400,-5.535,1.0,0.0432,179.910,4.0,0.732
2,2,SUBEME LA RADIO (feat. Descemer Bueno & Zion &...,3,2017-04-01,Enrique Iglesias,https://open.spotify.com/track/7nKBxz47S9SD79N...,Argentina,top200,187749.0,"['mexican pop', 'latin pop', 'dance pop', 'lat...",...,0.823,0.0,9.0,0.1110,-3.297,0.0,0.0773,91.048,4.0,0.647
3,3,Shape of You,4,2017-04-01,Ed Sheeran,https://open.spotify.com/track/7qiZfU4dY1lWllz...,Argentina,top200,185567.0,"['uk pop', 'pop']",...,0.652,0.0,1.0,0.0931,-3.183,0.0,0.0802,95.977,4.0,0.931
4,4,La Rompe Corazones,5,2017-04-01,"Daddy Yankee, Ozuna",https://open.spotify.com/track/4okba5wu9mMLXx7...,Argentina,top200,150052.0,"['reggaeton', 'latin', 'latin hip hop', 'trap ...",...,0.859,0.0,5.0,0.3170,-2.595,0.0,0.0553,176.018,4.0,0.891

The size of the dataframe takes up too much memory.  Also, to use tableau for visualization purpose,
there is a limitation of 15M rows.

Due to this restriction, I split the dataframe in the respective charts; top200 and viral50.  I further split these in 
top200_global and top200_regions, and viral50_global and viral50_regions.

In [3]:
viral50 = charts[(charts['chart'] == 'viral50')]

In [10]:
viral50['date'].min()

'2017-01-01'

In [11]:
viral50['date'].max()

'2021-08-31'

In [11]:
top200 = charts[(charts['chart'] == 'top200')]

In [12]:
top200.head()

,Unnamed: 0,title,rank,date,artist_x,url,region,chart,streams,genre,...,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,0,Despacito (Featuring Daddy Yankee),1,2017-04-01,Luis Fonsi,https://open.spotify.com/track/4aWmUDTfIPGksMN...,Argentina,top200,306716.0,"['puerto rican pop', 'latin', 'latin pop']",...,0.786,0.0,2.0,0.1120,-4.757,1.0,0.1700,177.833,4.0,0.846
1,1,El Amante,2,2017-04-01,Nicky Jam,https://open.spotify.com/track/3umS4y3uQDkqekN...,Argentina,top200,189310.0,"['latin', 'reggaeton', 'latin hip hop', 'trap ...",...,0.691,0.0,8.0,0.1400,-5.535,1.0,0.0432,179.910,4.0,0.732
2,2,SUBEME LA RADIO (feat. Descemer Bueno & Zion &...,3,2017-04-01,Enrique Iglesias,https://open.spotify.com/track/7nKBxz47S9SD79N...,Argentina,top200,187749.0,"['mexican pop', 'latin pop', 'dance pop', 'lat...",...,0.823,0.0,9.0,0.1110,-3.297,0.0,0.0773,91.048,4.0,0.647
3,3,Shape of You,4,2017-04-01,Ed Sheeran,https://open.spotify.com/track/7qiZfU4dY1lWllz...,Argentina,top200,185567.0,"['uk pop', 'pop']",...,0.652,0.0,1.0,0.0931,-3.183,0.0,0.0802,95.977,4.0,0.931
4,4,La Rompe Corazones,5,2017-04-01,"Daddy Yankee, Ozuna",https://open.spotify.com/track/4okba5wu9mMLXx7...,Argentina,top200,150052.0,"['reggaeton', 'latin', 'latin hip hop', 'trap ...",...,0.859,0.0,5.0,0.3170,-2.595,0.0,0.0553,176.018,4.0,0.891

In [13]:
# Exporting top200 file to csv
top200.to_csv('charts_top200.csv')

In [4]:
# Exporting viral50 file to csv
viral50.to_csv('charts_viral50.csv')

In [5]:
top200 = pd.read_csv('charts_top200.csv')

In [6]:
top200_global = top200[(top200['region'] == 'Global')]

In [7]:
top200_global

,Unnamed: 0,Unnamed: 0.1,title,rank,date,artist_x,url,region,chart,streams,...,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
3432,3432,3432,Shape of You,1,2017-04-01,Ed Sheeran,https://open.spotify.com/track/7qiZfU4dY1lWllz...,Global,top200,6815498.0,...,0.652,0.000000,1.0,0.0931,-3.183,0.0,0.0802,95.977,4.0,0.931
3433,3433,3433,Passionfruit,2,2017-04-01,Drake,https://open.spotify.com/track/7hDc8b7IXETo14h...,Global,top200,4235699.0,...,0.463,0.085000,11.0,0.1090,-11.377,1.0,0.0396,111.980,4.0,0.364
3434,3434,3434,It Ain't Me (with Selena Gomez),3,2017-04-01,Kygo,https://open.spotify.com/track/3eR23VReFzcdmS7...,Global,top200,4102670.0,...,0.533,0.000000,0.0,0.0864,-6.596,1.0,0.0706,99.968,4.0,0.515
3435,3435,3435,Something Just Like This,4,2017-04-01,"The Chainsmokers, Coldplay",https://open.spotify.com/track/6RUKPb4LETWmmr3...,Global,top200,3890316.0,...,0.635,0.000014,11.0,0.1640,-6.769,0.0,0.0317,103.019,4.0,0.446
3436,3436,3436,Despacito (Featuring Daddy Yankee),5,2017-04-01,Luis Fonsi,https://open.spotify.com/track/4aWmUDTfIPGksMN...,Global,top200,3456893.0,...,0.786,0.000000,2.0,0.1120,-4.757,1.0,0.1700,177.833,4.0,0.846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19060986,23282953,23282953,SÃ³ NÃ£o Divulga,196,2021-07-31,"Fernando & Sorocaba, TarcÃ­sio do Acordeon",https://open.spotify.com/track/3HquWF2pZmWYu3W...,Global,top200,755325.0,...,0.785,0.000000,3.0,0.4450,-4.099,0.0,0.0682,75.852,4.0,0.914
19060987,23282954,23282954,Ramenez la coupe Ã la maison,197,2021-07-31,Vegedream,https://open.spotify.com/track/1m0UFnuTktOkksv...,Global,top200,755227.0,...,0.661,0.000000,0.0,0.1380,-6.237,0.0,0.0395,107.992,4.0,0.804
19060988,23282955,23282955,One Dance,198,2021-07-31,"Drake, WizKid, Kyla",https://open.spotify.com/track/1zi7xx7UVEFkmKf...,Global,top200,751442.0,...,0.625,0.001800,1.0,0.3290,-5.609,1.0,0.0536,103.967,4.0,0.370
19060989,23282956,23282956,Dior,199,2021-07-31,Pop Smoke,https://open.spotify.com/track/79s5XnCN4TJKTVM...,Global,top200,751286.0,...,0.805,0.000389,7.0,0.4080,-5.732,1.0,0.3510,142.094,4.0,0.648
19060990,23282957,23282957,Calling My Phone,200,2021-07-31,"Lil Tjay, 6LACK",https://open.spotify.com/track/3J8EOeKLTLXORtW...,Global,top200,751214.0,...,0.393,0.000001,4.0,0.1350,-7.636,0.0,0.0539,104.949,4.0,0.202

In [9]:
top200_global.to_csv('charts_top200_global.csv')

In [50]:
top200_regions = top200[~(top200['region'] == 'Global')]

In [52]:
top200_regions.to_csv('charts_top200_regions.csv')

In [53]:
viral50 = pd.read_csv('charts_viral50.csv')

In [54]:
viral50_global = viral50[(viral50['region'] == 'Global')]

In [55]:
viral50_global.to_csv('charts_viral50_global.csv')

In [56]:
viral50_regions = viral50[~(viral50['region'] == 'Global')]

In [57]:
viral50_regions.to_csv('charts_viral50_regions.csv')

In [10]:
top200_global['date'].min()

'2017-01-01'

In [11]:
top200_global['date'].max()

'2021-08-31'

In [15]:
# What is the last date recorded in the charts per region?

row_counts = top200.pivot_table(index= ['region','date'], aggfunc = {'region':'count','date':max})

                            date  region
region    date
Argentina 2017-01-01  2017-01-01     200
          2017-01-02  2017-01-02     200
          2017-01-03  2017-01-03     200
          2017-01-04  2017-01-04     200
          2017-01-05  2017-01-05     200
...                          ...     ...
Vietnam   2021-08-27  2021-08-27     200
          2021-08-28  2021-08-28     200
          2021-08-29  2021-08-29     200
          2021-08-30  2021-08-30     200
          2021-08-31  2021-08-31     200

[103533 rows x 2 columns]

In [19]:
check_max_data = top200.pivot_table(index= ['region'], aggfunc = {'region':'count','date':max})

In [27]:
check_max_data['date'].unique()

array(['2021-08-31', '2021-07-16'], dtype=object)

In [28]:
check_max_data[(check_max_data['date'] == '2021-07-16')]

#So all until 2021-08-31, except for Luxembourg

                  date  region
region
Luxembourg  2021-07-16    8449

In [29]:
# What is the first date recorded in the charts per region?

check_min_date = top200.pivot_table(index= ['region'], aggfunc = {'region':'count','date':min})
check_min_date

                            date  region
region
Argentina             2017-01-01  340186
Australia             2017-01-01  340189
Austria               2017-01-01  339525
Belgium               2017-01-01  340190
Bolivia               2017-01-01  289449
...                          ...     ...
United Arab Emirates  2019-06-04  119653
United Kingdom        2017-01-01  340190
United States         2017-01-01  340184
Uruguay               2017-01-01  332894
Vietnam               2018-03-14  225442

[69 rows x 2 columns]

In [30]:
check_min_date['date'].unique()

array(['2017-01-01', '2019-07-22', '2019-02-27', '2018-03-14',
       '2019-07-08', '2020-07-15', '2019-04-12', '2018-04-20',
       '2021-02-01', '2017-08-23', '2019-06-04'], dtype=object)

In [32]:
check_min_date[~(check_min_date['date'] == '2017-01-01')]

#So all started 2017-01-01, except for the following:

                            date  region
region
Egypt                 2019-07-22  105569
India                 2019-02-27  183148
Israel                2018-03-14  243412
Morocco               2019-07-08  116637
Romania               2018-03-14  229537
Russia                2020-07-15   82576
Saudi Arabia          2019-04-12  156765
South Africa          2018-04-20  212007
South Korea           2021-02-01   41376
Thailand              2017-08-23  289559
Ukraine               2020-07-15   82576
United Arab Emirates  2019-06-04  119653
Vietnam               2018-03-14  225442

In [49]:
# Why is the number of rows in Global not the same as United States, for instance?

US = top200[['region','date']][(top200['region']=='United States')]
US.to_csv('check_US_rows.csv')

In [48]:
Global = top200_global[['region','date']]
Global.to_csv('check_global_rows.csv')

# I reviewed this output in excel â†’ see Difference between US and global rows.xlsx.  No issues that relate to combining the 
# dataframes were noted